* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.continer {
  background-color: yellowgreen;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
