* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.img-logo {
}
.continer {
  background-color: #d3ee9d;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.continer .logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-list > li {
  margin-left: 20px;
}
.nav-items {
  display: flex;
}
.nav-items > button {
  margin-left: 20px;
}
.card > img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.card > h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card > p {
  font-size: 14px;
  margin-bottom: 10px;
}

.card {
  width: 300px;
  height: 400px;
  background-color: #63cd3214;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search-container {
  text-align: center;
}
.search-container > input {
  width: 300px;
  height: 40px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
}
.search-container > button {
  width: 100px;
  height: 40px;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}
.simmer-card {
  width: 300px;
  height: 400px;
  background-color: #f1f1f1;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.shimmer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}
.no-resturents {
  text-align: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
